
@{
    ViewData["Title"] = "Index";
}

<h2>@ViewBag.Message</h2>
<h3>There are @ViewBag.StudentCount students are there in this list.</h3>
<br />
<table class="table">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>City</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in ViewBag.StudentList)
            {
        <tr>
            <td>@item.StudentID</td>
            <td>@item.Name</td>
            <td>@item.Gender</td>
            <td>@item.City</td>
        </tr>
            }
    </tbody>
</table>

